/*=========================================
====          ARTICLE DETAILS PAGE      ====
===========================================*/

.details {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: 5rem;
    padding: 3rem;
}

.details-content {
    border-bottom: 2px solid #e4e8f0;
}

.details-desc {
    margin: 1rem 0;
}

/* ========== HEADING SECTION ========== */
.details .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 45%;
    padding: 15px;
    background-color: var(--ssa-gris);
    border-radius: 0 15px 15px 0; 
}

.details .heading h1 {
    font-size: 2rem;
    color: var(--ssa-txt-jaune);
    font-weight: 700;
    line-height: 1.2;
    word-break: break-word;
}

.details h3 {
    font-size: 1.2rem;
    color: var(--ssa-txt-blanc);
    font-weight: 700;
    margin: 0.7rem 0 1rem;
    line-height: 1.4;
}

.details img {
    width: 60%;
    height: auto;
    margin: 0;
    object-fit: cover;
    border-radius: 12px 0 0 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: block;
}

/* ========== META INFORMATION ========== */

.details .heading .date {
    font-weight: 600;
    color: var(--ssa-txt-vert);
    display: flex;
    align-items: center;
    margin-bottom: .7rem;
}

.details .heading p strong {
    color: var(--ssa-txt-noir);
    font-weight: 600;
}

.details .heading .lieu {
    font-style: italic;
    color: var(--ssa-txt-blanc);
}

.description {
    font-size: 1rem;
    color: var(--ssa-txt-blanc);
    line-height: 1.8;
    margin-bottom: 1rem;
    word-break: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}


/* ========== RESPONSIVE SECTION ========== */
@media screen and (max-width: 980px) {
    .details{
        margin: 0;
        padding: 0;
        flex-direction: column;

        & img{
            width: 100%;
            border-radius: 0;
        }

        & .heading{
            border-radius: 0;
        }
    }

}