footer {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding: 10px 5%;
    border: none;
    background-color: var(--ssa-jaune);
    color: var(--ssa-txt-noir);
    overflow: hidden;
    z-index: 1;
}

.footer-infos {
    position: relative;
    display: flex;
    align-items: center;
    justify-content:space-around ;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 10px 0;
}

.footer-infos .ssalogo {
    align-self: flex-start;
    max-width: 20%;
    height: auto;
    margin: 10px 0;
}

.copyright {
    position: relative;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 10px;
    color: var(--ssa-gris);
}

.copyright a {
    color: var(--ssa-gris);
    text-decoration: none;
    font-weight: bold;
}
