.gallery-header {
  z-index: 2;
  padding: 2rem 0 1rem 0;
  text-align: center;
}

.gallery-pagination {
  position: sticky;
  bottom: 0;
  left: 35%;
  z-index: 2;
  height: 40px;
  margin: 1rem;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.2rem;
  background-color: var(--ssa-blanc);
}

.gallery-pagination .prev-page,
.gallery-pagination .next-page {
  display: flex;
  align-items: center;
}

.gallery-pagination .prev-page:hover,
.gallery-pagination .next-page:hover {
  color: var(--ssa-jaune);
}

.gallery {
  min-height: 100vh;
}

.gallery-track {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.25rem;
  padding: 0.25rem;
}

.card {
  height: 400px;
  overflow: hidden;
}

.card-image-wrapper {
  height: 135%;
}

.card-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 800px) {
  .gallery-track {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .gallery-track {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Lightbox */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  text-align: center;
  z-index: 10;
}

.lightbox.show {
  opacity: 1;
  visibility: visible;
}

.lightbox .close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

.lightbox .prev,
.lightbox .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-size: 25px;
  user-select: none;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.lightbox:hover .prev,
.lightbox:hover .next {
  opacity: 1;
}

.lightbox .prev { left: 20px; }
.lightbox .next { right: 20px; }

.lightbox .prev:hover,
.lightbox .next:hover,
.lightbox .close:hover {
  color: var(--ssa-jaune);
}

.lightbox-image {
  margin-top: 7rem;
  max-width: 90%;
  max-height: 80%;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.lightbox-image.visible {
  opacity: 1;
}