.wrapperfaq {
    position: absolute;
    left: 36%;
    z-index: 890;
    border-radius: 0;
    font-family: system-ui, -apple-system, sans-serif;
    width: 40%;
    justify-self: center;
    margin: 3% 0;

    & img {
        width: 100%;
        height: 250px;
    }

}

.faq-container {
    background-color: white;
    color: black;
    border-radius: 20px;
    box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.25);
    margin: 20px 0;
}

.question {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 20px 80px 20px 20px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.question::after {
    content: "\002B";
    font-size: 2.2rem;
    position: absolute;
    right: 20px;
    transition: 0.2s;
}

.question.active::after {
    transform: rotate(45deg);
}

.answercont {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
}

.answer {
    padding: 0 20px 20px;
    line-height: 1.5rem;
}

.list-style-one {
    position: relative;
}

.list-style-one li {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
    font-size: var(--ssa-font-small);
    line-height: 26px;
    font-weight: 400;
    color: var(--ssa-txt-noir);
    list-style: none;
}

.list-style-one li img {
    margin-top: 4px;
    width: 18px;
    height: 18px;
}

.list-style-one li a {
    text-decoration: none;
    color: var(--ssa-txt-noir);
    margin-left: 10px;
}

p {
    margin-bottom: 10px;
}

@media screen and (max-width: 950px) {
    html {
        font-size: 14px;
    }

    .wrapperfaq {
        position: static;
        width: 85%;
    }
}