@import url(./module/variables.css);
/* -------------- */
@import url(./dashboard/dash-sidebar.css);
/* -------------- */
@import url(./dashboard/dash-faq.css);
@import url(./dashboard/dash-article.css);
@import url(./dashboard/dash-agenda.css);
@import url(./dashboard/dash-users.css);
@import url(./dashboard/dash-galery.css);