@import url(./module/variables.css);

.contain {
    display: block;
    width: 100%;
    margin-bottom: 35px;
    padding: 0 5%;
}

.contain h2 {
    position: relative;
    display: block;
    padding-bottom: 10px;
    color: var(--ssa-txt-noir);
    font-size: var(--ssa-font-large);
    font-weight: 600;
    line-height: 1.2em;
}

.contain h2::before {
    position: absolute;
    left: 0;
    bottom: -55px;
    width: 40px;
    height: 3px;
    background-color: var(--ssa-vert);
    content: '';
}

.contain .text {
    position: relative;
    margin: 25px 0 25px;
    font-size: 15px;
    line-height: 24px;
    color: var(--ssa-txt-noir);
    font-weight: 400;
}
