 /* Petits mobiles */
 @media screen and (max-width: 950px) {
   header .logo {
     max-height: 50px;
     margin: 1em 0;
   }

   .hamburger {
     display: flex;
     justify-content: space-evenly;
   }

   .navbar {
     position: fixed;
     flex-direction: column;
     align-items: flex-end;
     justify-content: flex-start;
     right: -100%;
     left: auto;
     top: 0;
     width: 50%;
     height: 100vh;
     background: var(--ssa-fond-clair);
     box-shadow: -0.2em 0 0.8em rgba(0, 0, 0, 0.15);
     padding: 5em 1.5em;
     transition: right 0.4s ease;
   }

   .navbar ul {
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     gap: 15px;
     width: 100%;
     margin: 5% 0;
   }

   .user {
     width: 100%;
     justify-content: end;
     gap: 8px;
   }

   /* Affiche le menu quand checkbox est cochée */
   #menu-toggle:checked~.navbar {
     right: 0;
   }

   /* Animation hamburger - croix */
   #menu-toggle:checked+.hamburger .line:nth-child(1) {
     transform: rotate(45deg) translate(5px, 5px);
     transform-origin: center;
   }

   #menu-toggle:checked+.hamburger .line:nth-child(2) {
     opacity: 0;
   }

   #menu-toggle:checked+.hamburger .line:nth-child(3) {
     transform: rotate(-45deg) translate(5px, -5px);
     transform-origin: center;
   }

   /* Cache la nav classique en mobile */
   .navbar:not(:target) {
     display: flex;
   }
 }