@media screen and (min-width: 980px) {

    /*=========================================
====             HERO SECTION          ====
===========================================*/
    .hero {
        height: 90vh;
    }

    /*=========================================
====             ABOUT SECTION         ====
===========================================*/
    .about {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        align-items: center;
        justify-items: center;
        padding: 0 10%;
        margin: 5% 0 0 0;

        & .illustration {
            display: flex;
            align-items: center;
            justify-content: center;
            height: calc(250px * 1.5);
            width: calc(250px * 1.5);
            order: -1;
            margin: 0;

            & img {
                transform: scale(1.5);
            }
        }
    }

    .contain {
        margin: 0;
    }

    .contain h2::before {
        bottom: -55px;
    }

    .list-style-one li {
        height: 40px;
        line-height: 1;

        & img {
            margin: 0;
        }
    }

    /*=========================================
====        ACTUALITER SECTION         ====
===========================================*/
    .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 6% 0;
        gap: 25px;
    }

    .actu .actu-item-inner {
        height: 100%;
        width: 290px;
    }

    .actu .actu-item {
        flex: 1;
        margin-bottom: 0;
    }

    .actu .actu-item-inner .actu-info .actu-description {
        min-height: 70px;
    }


    /*=========================================
====        EVENEMENT SECTION         ====
===========================================*/
    .evenement .evenement-item-inner {
        margin: 0 10px 0 0;
    }

    /*=========================================
====        PARTENAIRE SECTION         ====
===========================================*/
    .partenaires .item {
        display: grid;
        grid-template-columns: repeat(4, 30%);
        align-items: center;
        justify-content: center;
    }

    .financeurs .item {
        display: grid;
        grid-template-columns: repeat(2, 30%);
        align-items: center;
        justify-content: center;
    }

    .financeurs a {
        order: 3;
    }

    /*=========================================
====        CONTACT SECTION         ====
===========================================*/
    .contact .contain {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        justify-items: center;
    }

    .contact .row {
        margin: 0;
        justify-content: flex-start;
    }

    .coord {
        padding: 0 0 0 60px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        min-width: 25rem;
        min-height: 45px;
    }

}

@media screen and (min-width:564px) and (max-width:979px) {

    .contain h2::before {
        bottom: -35px;
    }
}

@media screen and (min-width: 1300px) {
    .actu .actu-item-inner {
        height: 380px;
        width: 25%;
    }

    .contain h2::before {
        bottom: -35px;
    }

    .actu .actu-item-inner .actu-info .actu-description {
        min-height: 50px;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 6% 0;
    }

}