@media (min-width: 980px) {
    .recrutement h2:before {
        bottom: -10px;
    }

    .projet {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        align-items: center;
        justify-items: center;
        padding: 0 7%;
        margin: 5% 0 0 0;

        & .illustration {
            display: flex;
            align-items: center;
            justify-content: center;
            height: calc(250px * 1.5);
            width: calc(250px * 1.5);
            order: -1;
            margin: 0;

            & img {
                transform: scale(1.5);
            }
        }
    }
}

@media screen and (min-width:564px) and (max-width:979px) {
    .recrutement {
        & h2:before {
            bottom: 0px;
        }
    }
}